body{
	margin: 0;
	padding: 0;
}
div{
	width: 250px;
	margin: 7em auto 4em;
	text-align: center;
	vertical-align: middle;
}
a{
	font: normal 12px/normal "Lucida Console", Monaco, monospace;
	color: rgba(147,196,125,1);
}
input, button{
	display: block;
	margin: 10px auto;
}
input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 200px;
	height: 30px;
	padding: 10px 20px;
	overflow: hidden;
	border: none;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	font: normal 16px/normal "Lucida Console", Monaco, monospace;
	color: rgba(50,137,75,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	-webkit-box-shadow: -1px -1px 2px 0 rgba(147,196,125,1) inset;
	box-shadow: -1px -1px 2px 0 rgba(147,196,125,1) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
}
input:focus, button:focus, ul li:hover{
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
	-webkit-box-shadow: -1px -1px 2px 0 rgba(96, 54, 111, 1) inset;
	box-shadow: -1px -1px 2px 0 rgba(96, 54, 111, 1) inset;
	background-color: white;
}
button{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	padding: 5px 20px;
	overflow: hidden;
	border: none;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	font: normal 13px/normal "Lucida Console", Monaco, monospace;
	color: rgba(147,196,125,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: white/*rgba(147,196,125,1)*/;
	-webkit-box-shadow: -1px -1px 2px 0 rgba(147,196,125,1) inset;
	box-shadow: -1px -1px 2px 0 rgba(147,196,125,1) inset;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
}
ul{
	width: 85%;
	margin: 0 auto 10px;
	padding: 0;
}
li{
	list-style-type: none;
	margin-top: 10px;
	padding: 5px 25px 5px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	border: none;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	font: normal 16px/normal "Lucida Console", Monaco, monospace;
	color: rgba(50,137,75,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	-webkit-box-shadow: 1px -1px 2px 0 rgba(147,196,125,1) inset;
	box-shadow: 1px -1px 2px 0 rgba(147,196,125,1) inset;
}
ul a{
	text-decoration: none;
}
h3{
	color: #60366F;
}
article{
	font-family: 'Source Serif Pro', serif;
}